a {
    text-decoration: none;
    color: white;
}

* {
    font-family: 'Fira Code', monospace;
}

.P404 {
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 100%;
}

.writeArticle {
    width: 100%;
    font-size: 24px;
    height: max-content;
}


.title {
    font-size: 20px;
    padding: 10px 2px;
}

.avatar {
    margin-right: 10px;
}

