a {
    text-decoration: none;
    color: white;
}

* {
    font-family: 'Fira Code', monospace;
}

#root {
    height: max-content;
    position: relative;
}

.P404 {
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 100%;
}

.title {
    font-size: 20px;
    padding: 10px 2px;
}

.action {
    cursor: pointer;
}
