.MenuLink {
    height: 40px;
    display: flex;
    padding: 0px 8px;
    line-height: 100%;
    text-align: center;
    align-items: center;
    width: max-content;
    justify-content: start;
}

/* .MenuLink:nth-child(n - 1)::after {
    content: '';
    pos
} */

.outSide {
    /* padding: 0 2.5%; */
    /* margin-bottom: 10px; */
    box-shadow: 2px 1px 0px rgba(153, 153, 153, 0.575);
}

.Split {
    height: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.NavBar {
    width: 100%;
    height: 60px;
    z-index: 1;
    position: fixed;
    background-color: #fff;
    top: 0;
}

/* * {
    outline: dashed black;
} */
