.Link {
    color: unset;
    display: flex;
    cursor: pointer;
    font-size: 20px;
    line-height: 100%;
    position: relative;
    text-align: center;
    align-items: center;
    width: max-content;
    height: max-content;
}

.Link::after {
    left: 0;
    right: 0;
    bottom: -6px;
    height: 1px;
    width: 100%;
    content: '';
    position: absolute;
    /* background-color: black; */
    transition: background-color ease-in-out 1s;
}

.Link:hover::after {
    background-color: blue;
}
